*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-image: url(../image/5072609.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    display: grid;
    justify-content: center;
    min-width: 100px;
    min-height: 100vh;
    padding: 100px;
    font-family: blippok;
    /* gap: 5px; */
    position: absolute;
    }
 .loginpage{
    display: flex;
    justify-content: center;
 }


.container{

   display: flex;
   /* display: inline; */
   width: 120px;
   min-width: 500px;
   border: 20px;
   background-color: rgb(255, 255, 255);
   /* overflow: hidden; */
   border-radius: 20px 0 0 20px;
   /* background-image: scr="../5072609.jpg"; */
   padding: 20px;
   padding-bottom: 0px;
   
   justify-content: start;
    }
.container2{
display: flex;
display: inline;
width: 120px;
min-width: 500px;
border: 20px;
background-color: white;
/* overflow: hidden; */
border-radius: 0px 20px 20px 0px;
padding: 20px;
padding-bottom: 0px;
/* gap: 35px; */
justify-content: start;
}


.form{
    display: grid;
    /* position: relative; */
    /* height: 200px; */
    /* padding: 20px; */
    margin-top: 50px;
    width: 100%;
    /* display:flex; */
    /* border: 1px solid black; */
    /* overflow: hidden; */
    /* background: transparent; */
    /* justify-content: space-between; */
    /* z-index:auto; */
    /* position: absolute; */
}

#img{
    /* margin-top: 50px; */
    width: 100%;
    /* margin-left: 0 auto ; */
    /* border: 2px solid black; */
    }

.forme{
    display: none;
    /* position: relative;
    /* height: 200px; */
    /* padding: 20px; */
    margin: 10px;
    width: 100%; */
    }


    
    form .form_content{
        margin-top: 15px;
        display: grid;
        padding: 10px;
        /* margin: 8px; */
    }
    
    
    .header{
        padding: 0px;
        margin: 20px 0px -30px 20px;
        /* font-size: 15px; */
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgba(33, 148, 58 );
        font-weight: 600;
        padding: 0px;
    }
    input{
        padding: 12px;
        border-radius: 4px;
        border: 1px solid #aeaeae;
        background: transparent;
        font-size: 17px;
        margin-bottom: -20px;
        }
.input{
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #aeaeae
}
.button{
    padding: 10px 0px -15px 150px;
    margin: -20px 55px 55px 10px;
    /* box-shadow: none; */
    border: none;
    background-color:rgba(33, 148, 58 );;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    font-size: 100%;
  
}





.pas_erreur{
    /* font-size: 2px; */
    visibility: hidden;
}

.erreur{
    /* font-size: 12px; */
    margin-top: 20px;
    color: red;
    visibility: visible;
}
.bon{
    color: green;
}

.form_bg{
    border: 1px solid red;
}
.form_hidden{
    visibility: hidden;
}

/* .btn{
    background-color: green;
    box-sizing: border-box;
    font-weight: 500;
    color: black;
    margin: 10px 0 10px 0;
} */

#inscrip{
    display: flex;
    justify-content: left;
   margin: -30px 0 0 25px;
   padding: 0px 0px 0px 0px;
   

}

#voirPass{
    display: flex;
    justify-content: left;
   margin: 20px 0 10px 0px;
   /* padding: -0px 0px 0px 0px; */
}

#afMotPass{
    text-decoration: none;
    text-wrap: wrap;
    justify-content: space-between;
    margin-left: 12px;
}

#h0{
    /* font-size:x-large; */
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman',;
    /* font-style: italic; */
}


/* GESTION D'AFFICHARGE */

.unview{
    display: none;
    /* visibility: hidden; */
}




